a:link {
  color: rgba(217, 115, 7, 1);
}
a:visited {
  color: darkgrey;
}
a:hover {
  color: chocolate;
}
a:active {
  color: chocolate;
}

Body {
  background-color: hsla(31, 71%, 90%, 1);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  
}
ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h1 {
  color: #d97307;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  border-top-color: chocolate;
  margin: 2rem;
  padding: 2rem;
  border: 5px solid;
  background-color: lightcyan;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgba(217, 115, 7, 1);
  text-align: left;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  color: rgba(217, 115, 7, 1);
  text-align: left;
}

header {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
  text-align: left;
  background-color: hsla(31, 71%, 90%, 1);
}

main {
  text-align: left;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
img {
  margin-top: 1.5cm;
  border: 1px solid rgba(217, 115, 7, 1);
  padding: 5px;
}
