  body {
    word-wrap: break-word;
  }
  /*--------------GRID---------------*/
  .col_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  .col_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .col_1-1 p {
    display: grid;
    grid-column:2;
  }
  .col_2 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .col_2 h1 {
    grid-column: 1;
  }
  .col_2 h2 {
    grid-column: 1;
  }
  .col_6 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .col_1-1-1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 2em;

  }
  .col_1-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .col_1-3 h2 {
    grid-column: 2;
  
  }
  .grid_2-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  
  }
  .grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  .grid_3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  .video {
  grid-column: 2;
  }
  .img_mood1 {
  grid-column: 1;
  }
  .img_mood2 {
  grid-column: 2;
  }
  .img_mood3 {
  grid-column: 3;
  }
  .img_style {
  grid-column: span 1;
  grid-row: 6;
  }
  .grid_2-3 h2 {
  grid-column: 1;
  
  
  }
  .grid_2-3 p {
    grid-column: 2;
  }
  .p2 {
  grid-column: span 2;
  }
  .col_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .col_1-2 p {
    grid-column: 1;
    
  }
  .img_cv {
    grid-column: 2;
  }
  .grid_3 h2 {
  display: grid;
  grid-column: 2;
  }
  .col_3-4 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  }
  .col_3-4 p {
  grid-column: 1;
  }
  .col_3-4 h2, h3 {
  grid-column: 1;
  }
  .grid_1-1 p {
  grid-column: 1;
  }
  .grid_1-1 h1 {
    grid-column: 1;
    }
  .grid_1-1 iframe {
    grid-column: 2;
  }
  .grid_5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  .grid_5 h3 {
    grid-column: 3;
  }
  .img_lm {
  grid-column: 3;
  }
  .img_roset {
  grid-column: 3;
  }
  .img_støvle {
  grid-column: 3;
  }
  .col_3-4 iframe {
    grid-column: 1;
  }
  .grid_0 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  .img_ny {
  grid-column: 1;
  }
  .img_pilot {
    grid-column: 2;
  }
  .col_0 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .col_0 .d1 {
    grid-column: 1;

  }
  .col_0 .d2 {
    grid-column: 3;

  }

  .img_skitse {
    grid-column: 1;
  }
  .img_skitse2 {
    grid-column: 2;
  }
  .spil {
    grid-column: 2;
  }
 

  



/*------------------------------------------*/

  

