
h2 {
  margin: 5%;
  padding: 1%;
  background-color: cornflowerblue;
}
h3 {
  margin: 5%;
  background-color: bisque;
  padding: 1%;
}

#startside {
  margin: 3%;
  padding: 2%;
  width: 50%;
}
#ohno {
  margin: 3%;
  padding: 2%;
  width: 50%;
}
#congrats {
  margin: 3%;
  padding: 2%;
  width: 50%;
}
#playsite {
  margin: 3%;
  padding: 2%;
  width: 50%;
}

#onemeteor {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#twometeor {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#threemeteor {
  margin: 3%;
  padding: 2%;
  width: 30%;
}

#blå {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#orange {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#gul {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#grøn {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
#rød {
  margin: 3%;
  padding: 2%;
  width: 30%;
}
/*#tryagain {
  margin: 3%;
  padding: 2%;
  width: 15%;
}
#settings {
  margin: 3%;
  padding: 2%;
  width: 15%;
}
#playnow {
  margin: 3%;
  padding: 2%;
  width: 15%;
}
*/

.gameitems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.UI {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 6%;
  padding: 6%;
  width: 70%;
}
