a:link {
  color: cornflowerblue;
}
a:visited {
  color: darkgrey;
}
a:hover {
  color: aliceblue;
}
a:active {
  color: aliceblue;
}
Body {
  background-color: lavender;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
}
ul {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  color: cornflowerblue;
  font-size: xx-large;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-top-color: chocolate;
  padding: 2rem;
  border: 3px solid;
  background-color: blanchedalmond;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: cornflowerblue;
  font-size: larger;
}
h3 {
  font-family: "Courier New", Courier, monospace;
  color: cornflowerblue;
  font-size: larger;
}
header {
  font-family: "Courier New", Courier, monospace;
  font-size: small;
}
main {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: medium;
}
img {
  border: 1px solid cornflowerblue;
  padding: 5px;
  max-width: 100%;
  border-radius: 20cm;
}
